/* styles for odin-landingpage project index page */
body {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
}

.header-links {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-wrap: wrap;
}

.header-info > p {
    display: flex;
    color: #f9faf8;
    flex-wrap: wrap;
}

.header-info > button{
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    border-style: solid;
    border-radius: 8px;
    width: 100px;
    height: 35px;
}

.header-image {
    padding-left: 50px;
}

.header-image > p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #85878b;
    width: 600px;
    height: 213px;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex: 1 0 70%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.info-header {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.info-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.content-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    gap: 8px;
}

.image {
    display: flex;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.content-comment {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 325px;
    padding-right: 325px;
    gap: 8px;
}

.comment {
    display: flex;
    justify-content: start;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.customer {
    display: flex;
    justify-content: end;
    font-size: 18px;
    font-weight: bold;
}

.content-signup {
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 5px;
}

.signup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.signup-body > h4 {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    padding-top: 50px;
}

.signup-body > p {
    display: flex;
    color: #f9faf8;
    margin: 0;
    padding-bottom: 50px;
}

.signup-button {
    display: flex;
    padding-right: 150px;
    justify-content: center;
    align-items: center;
}

.signup-button > button {
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 8px;
    width: 100px;
    height: 35px;
}

.footer {
    display: flex;
    flex: 1 0 10%;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 20px;
    padding-bottom: 20px;
}

