/* styles for odin-landingpage project index page */
body {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1 0 25%;
}

.header-links {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.content-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-info > button{
    color: #f9faf8;
    font-weight: 700;
    background-color: #3882f6;
    border-radius: 8px;
    width: 80px;
    height: 35px;
}

.header-image > p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #85878b;
    width: 400px;
    height: 150px;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 14px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex: 1 0 70%;
}
.footer {
    display: flex;
    flex: 1 0 5%;
}

