/* styles for odin-landingpage project index page */

.header {
    background-color: #1f2937;
}

.header-links > h4 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}